body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #000000;
  color: white;
}


.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-title {
  flex-grow: 1;
}



.increment-button,
.decrement-button {
  font-size: 18px;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.increment-button:hover,
.decrement-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.item-count {
  margin: 0 10px;
}

.add-button {
  border: solid none;
}

.add-button:hover {
  background-color: #000000;

  color: #ffffff;
}
